@import "tailwindcss";
@plugin "@tailwindcss/vite";

@theme {
  --color-indi-dark: #0f172a;
  --color-indi-gold: #f59e0b;
  --color-indi-parchment: #fdf6e3;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Rozha One", serif;
  --font-pixel: "VT323", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617;
  /* Dark background */
  background-image: radial-gradient(circle at center, #1e293b 0%, #020617 100%);
  color: white;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom Scrollbar for Landscape Layouts */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(245, 158, 11, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(245, 158, 11, 0.6);
}

/* Animations */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

@keyframe pulse-slow {

  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.3;
  }
}