@import "tailwindcss";

@theme {
  --color-indi-dark: #0f172a;
  --color-indi-gold: #f59e0b;
  --color-indi-parchment: #fdf6e3;
  
  --font-sans: "Inter", sans-serif;
  --font-serif: "Rozha One", serif;
  --font-pixel: "VT323", monospace;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0aa; /* Fallback (should be dark) */
  background: #020617;
  color: white;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
